body {
    background-color: rgb(214, 210, 210);
}

.App {
    min-height: 100vh;  
    background-color: rgb(214, 210, 210);
    font-size: 17.5px;
}

a {
    color: teal !important;
    text-decoration: none;
}

a:hover {
    color: black !important;
}

/* Header Styling */


/* Forms styling */
.form-control:focus {
    box-shadow: none;
    border: .5px solid teal;
}

.searchForm label {
    position: absolute;
    left: -99999px;
}

/* Footer Styling */
.sticky-footer {
position: sticky;
top: 100%;
}
