body {
    background-color: rgb(214, 210, 210);
}

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    height: 100vh;  
    background-color: rgb(214, 210, 210);
    font-size: 17.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

a {
    color: teal !important;
    text-decoration: none;
}

a:hover {
    color: black !important;
}

.text-teal, hr {
    color: teal;
}

.Header {
    width: 100%;
}

/* Content styling */
.Home, .NewPost, .PostPage, .About, .Missing {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

/* Forms styling */
.form-control:focus {
    box-shadow: none;
    border: .5px solid teal;
}

.searchForm label {
    position: absolute;
    left: -99999px;
}

.searchForm input {
    border-radius: 5px 0px 0px 5px  !important;
}

/* Footer Styling */
.sticky-footer {
position: sticky;
top: 100%;
}
